body 
{
    background-color: #D6D6D6;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container
{
    border: 1px dotted black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mainPic 
{
    height: 95%;
    background: url(image.jpg);
    background-size: cover;
    background-position: center;
}

#menu 
{
    height: 80px;
    letter-spacing: 1px;
    background-color: white;
    opacity: 0.5;
    font-size: 28px;
}

#menuContainer 
{
    float: right;
    padding-right: 80px;
}

.element 
{
    float: left;
    min-width: 80px;
    height: 40px;
    padding: 20px;
    text-align: center;
}

.element:hover
{
    background-color: #2B2B2B;
    color:white;
}

#content 
{
    border: 1px dotted black;
    height: 400px;
    text-align: justify;
    padding: 25px;
    padding-top: 50px;
}

#footer 
{
    border: 1px dotted black;
    clear: both;
    height: 40px;
}

