body 
{
    background-color: #e7e4df;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #834756;
}

#container
{
    border: 1px dotted black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#mainPic 
{
    height: 95%;
    background: url(image.jpg);
    background-size: cover;
    background-position: center;
}

#menu 
{
    height: 80px;
    letter-spacing: 1px;
    background-color: #e7e4df;
    opacity: 0.5;
    font-size: 28px;
}

#menuContainer 
{
    float: right;
    padding-right: 80px;
}

.element 
{
    float: left;
    min-width: 80px;
    height: 40px;
    padding: 20px;
    text-align: center;
    color: #834756;
}

.element:hover
{
    background-color: #834756;
    color:#e7e4df;
}

#content 
{
    border: 1px dotted black;
    height: 400px;
    text-align: justify;
    padding: 25px;
    padding-top: 50px;
}

#content p 
{
    border: 1px dotted black;
    width: 31%;
    float: left;
    padding: 10px;
}

#content h2 {
    background-color: #d0b1ad;
}

#footer 
{
    border: 1px dotted black;
    clear: both;
    height: 40px;
    background-color: #bc898f;
}

